
body {
background-color: var(--theme-page-background-color);


font-family: rubik,helvetica,arial,sans-serif;



  --theme-body-text-color: #fff;
  --theme-body-text-color--rgb: 255,255,255;
  --theme-body-text-color--hover: #cccccc;
  --theme-sticky-nav-background-color: #363835;
  --theme-sticky-nav-background-color--rgb: 54,56,53;
  --theme-sticky-nav-text-color: #fff;
  --theme-sticky-nav-text-color--hover: #cccccc;
  --theme-page-background-color: #1d1b19;
  --theme-page-background-color--rgb: 29,27,25;
  --theme-page-background-color--secondary: #3f3d3c;
  --theme-page-background-color--secondary--rgb: 63,61,60;
  --theme-page-text-color: #e6e6e6;
  --theme-page-text-color--rgb: 230,230,230;
  --theme-page-text-color--hover: #b3b3b3;
  --theme-page-text-mix-color: #828180;
  --theme-page-text-mix-color-95: #272523;
  --theme-page-accent-mix-color: #474539;
  --theme-page-headings-font: 'Rubik';
  --theme-link-color: #c6b55b;
  --theme-link-color--rgb: 198,181,91;
  --theme-link-color--hover: #e0d7a6;
  --theme-link-label-color: #000;
  --theme-accent-color: #706f58;
  --theme-accent-color--rgb: 112,111,88;
  --theme-accent-color--hover: #a3a28a;
  --theme-accent-label-color: #fff;
  --theme-border-color: #4f4e4c;
  --theme-border-color--rgb: 79,78,76;
  --theme-alert-color: #d8001a;
  --theme-alert-color--rgb: 216,0,26;
  --theme-alert-color--hover: #ff3f56;
  --theme-alert-color--secondary: #ff3f56;
  --theme-alert-label: #fff;
  --theme-warning-color: #cf721c;
  --theme-warning-color--rgb: 207,114,28;
  --theme-warning-color--secondary: #cf721c;
  --theme-warning-label: #000;
  --theme-success-color: #0c7d32;
  --theme-success-color--rgb: 12,125,50;
  --theme-success-color--secondary: #0fa240;
  --theme-success-label: #fff;
  --theme-message-label: #fff;
  --theme-community-header-color: #ffffff;
  --theme-community-header-color--hover: #cccccc;
  --theme-message-color: #a34792;
  --theme-background-image-opacity: 100%;
  --theme-page-text-opacity-factor: 0.7;
  --theme-body-text-opacity-factor: 0.7;
  --theme-link-decoration: none;


}